Repository eclipse-tractusx/industry-core-hub, pull requests merged in 2025-02, with the labels that each got.

#28 fix: ensure authManager is properly initialized to avoid missing 'self' error
  ichub-backend/main.py
  tractusx_sdk/dataspace/main.py
  tractusx_sdk/industry/main.py
Labels: bug, backend

#35 PR #34 - IP Check
  DEPENDENCIES_IC-BACKEND
  DEPENDENCIES_TX_DATASPACE_SDK
  DEPENDENCIES_TX_INDUSTRY_SDK
  ichub-backend/requirements.txt
  tractusx_sdk/dataspace/requirements.txt
  tractusx_sdk/industry/requirements.txt
Labels: backend, ip-checks

#46 feat : BoilerPlate for React frontend
  DEPENDENCIES_ICHUB-FRONTEND
  README.md
  ichub-backend/README.md
  ichub-frontend/.gitignore
  ichub-frontend/README.md
  ichub-frontend/eslint.config.js
  ichub-frontend/index.html
  ichub-frontend/package-lock.json
  ichub-frontend/package.json
  ichub-frontend/public/vite.svg
  ichub-frontend/src/App.css
  ichub-frontend/src/App.tsx
  ichub-frontend/src/assets/IndustryCoreHubLogo.png
  ichub-frontend/src/assets/IndustryCoreHubLogo.png.license
  ichub-frontend/src/components/Header.tsx
  ichub-frontend/src/components/ProductDetail.tsx
  ichub-frontend/src/components/ProductsList.tsx
  ichub-frontend/src/components/Sidebar.tsx
  ichub-frontend/src/layout/MainLayout.tsx
  ichub-frontend/src/main.tsx
  ichub-frontend/src/pages/ProductsDetailPage.tsx
  ichub-frontend/src/pages/ProductsListPage.tsx
  ichub-frontend/src/vite-env.d.ts
  ichub-frontend/tsconfig.app.json
  ichub-frontend/tsconfig.json
  ichub-frontend/tsconfig.node.json
  ichub-frontend/vite.config.ts
Labels: frontend, ip-checks-approved

#72 feat: add frontend dependencies check workflow
  .github/workflows/dependencies-frontend.yaml
Labels: infrastructure
